.App-error {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: var(--main-color);
    height: 100vh;
    color: white;
    z-index: 999;
    padding-top: 17em;
    
    .desc {
        font-size: 20px;
        line-height: 50px;
    }
}